<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyy/MM/dd HH:mm:ss.SSS} %-5level - [%c] %msg%n%ex"/>
    </Console>
    <File name="MyFile" fileName="s3app.log" append="false">
      <PatternLayout>
        <Pattern>%d{yyy/MM/dd HH:mm:ss.SSS} %-5level - [%c] %msg%n%ex</Pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="MyFile"/>
    </Root>
    <Logger name="com.amazonaws.services.s3.internal.Mimetypes" level="info">
    </Logger>
  </Loggers>
</Configuration>